* {
  padding: 0px;
  margin: 0px;
  background-color: #d5f3fe;
}

.box {
  height: 400px;
  width: 400px;
  /* background-color: antiquewhite; */
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 110px;
  /* display: flex; */
}

.img_box {
  height: 380px;
  width: 380px;
  /* background-color: rgb(243, 255, 175); */
  z-index: 100px;
  /* display:inline-block; */
  border-radius: 20px;
  border: 2.5px solid rgba(255, 255, 255, 0.616);
  /* padding: 2px; */
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.425);
}

button {
  height: 40px;
  width: 387px;
  border-radius: 20px;
  margin-top: 10px;
  font-family: cursive;
  cursor: pointer;
  background-color: #66d3fa;
  border: 2.5px solid rgba(255, 255, 255, 0.616);
  color: white;
  font-size: large;
  font-weight: bold;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.425);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

button:active {
  transform: scale(0.95);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

img {
  height: 380px;
  width: 380px;
  /* background-color: aqua; */
  object-fit: cover;
  border-radius: 20px;
  font-family: cursive;
  color: rgb(0, 187, 255);
  visibility: hidden;
}
